<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>



    <link rel="stylesheet" type="text/css" href="public/styles/pikeatsIndexStyle.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">




    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">




    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

    
    <script src="public/scripts/pikeatsIndexScript.js" defer></script>



</head>

<body class="bodyControl">

    <div class="mainControl">

        <!-- NAV BAR CONTROLS xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <!-- ////////////////////////////////////////////////////// -->

            <div class="navBarContainer">

            </div>

        <!-- INCOMING POSTS CONTAINER xxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <!-- ////////////////////////////////////////////////////// -->

            <div class="adminIncomingPostsContainer">







                <!-- FILTER BUTTONS CONTAINER --------------------- -->
                <!-- ---------------------------------------------- -->

                    <div class="adminIncomingPostsFilterContainer">

                        <div class="adminIncomingPostsFilterResizer">




                            <!-- FILTER BUTTON FOR ALL POSTS ------ -->
                            <!-- ---------------------------------- -->

                                <div class="adminAllPostsFilterButtonContainer">

                                    <div class="adminAllPostsFilterButtonActual">

                                        all

                                    </div>

                                </div>




                            <!-- FILTER BUTTON FOR 3 STAR POSTS --- -->
                            <!-- ---------------------------------- -->

                                <div class="admin3StarsPostsFilterButtonContainer">

                                    <div class="admin3StarsPostsFilterButtonActual">

                                        average

                                    </div>

                                </div>




                            <!-- FILTER BUTTON FOR 5 STAR POSTS --- -->
                            <!-- ---------------------------------- -->

                                <div class="admin5StarsPostsFilterButtonContainer">

                                    <div class="admin5StarsPostsFilterButtonActual">

                                        high

                                    </div>

                                </div>




                        </div>

                    </div>







                <!-- OTHER SWITCHES BUTTONS CONTAINER ------------- -->
                <!-- ---------------------------------------------- -->

                    <div class="adminIncomingPostsOtherSwitchesContainer">

                        <div class="adminIncomingPostsOtherSwitchesResizer">




                            <!-- SWITCH BUTTON FOR COMMENTS POSTS - -->
                            <!-- ---------------------------------- -->

                                <div class="adminAllPostsCommentsSwitchButtonContainer">

                                    <!-- SWITCH ON OFF COMMENTS BUTTON ICON -->
                                    <!-- -------------------------- -->

                                        <div class="adminAllPostsCommentsSwitchButtonIconContainer">

                                        </div>

                                    <!-- SWITCH ON OFF COMMENTS CLICKERS CONTAINER -->
                                    <!-- -------------------------- -->

                                        <div class="adminAllPostsCommentsSwitchButtonClickersContainer">

                                            <div class="adminAllPostsCommentsSwitchButtonClickersOn">

                                            </div>

                                            <div class="adminAllPostsCommentsSwitchButtonClickersOff">

                                            </div>

                                        </div>

                                </div>




                        </div>

                    </div>

                    




















                

                <!-- INCOMING POSTS SET HERE ---------------------- -->
                <!-- ---------------------------------------------- -->

                    <div class="adminIncomingPostsSetterContainer">

                        <div class="adminIncomingPostsSetterFirstSetContainer">

                            
                            <!-- POST CONTAINER GENERAL ----------- -->
                            <!-- ---------------------------------- -->

                                <%postList.forEach(post => {%>


                                    <div class="postCollectorContainer">

                                        <!-- COLLECT ID ----------- -->
                                        <!-- ---------------------- -->

                                            <div class="postIdCollector"><%=post._id%></div>

                                        <!-- COLLECT IMAGE -------- -->
                                        <!-- ---------------------- -->

                                            <div class="postImageCollector"><%=post.image%></div>

                                        <!-- COLLECT AREA --------- -->
                                        <!-- ---------------------- -->

                                            <div class="postAreaCollector"><%=post.area%></div>

                                        <!-- COLLECT RATING ------- -->
                                        <!-- ---------------------- -->

                                            <div class="postRatingCollector"><%=post.rating%></div>

                                        <!-- COLLECT CALORIE ------ -->
                                        <!-- ---------------------- -->

                                            <div class="postCalorieCollector"><%=post.calorie%></div>

                                        <!-- COLLECT COMMENTS ----- -->
                                        <!-- ---------------------- -->

                                            <div class="postCommentsCollector"><%=post.comments%></div>

                                    </div>

                                
                                <%})%>




                        </div>

                    </div>

            </div>

    </div>
    
</body>

</html>