<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>



    <link rel="stylesheet" type="text/css" href="public/styles/pikeatsIndexStyle.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">




    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">




    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

    
    <script src="public/scripts/pikeatsIndexScript.js" defer></script>



</head>

<body class="bodyControl">

    <div class="mainControl">

        <!-- NAV BAR CONTROLS xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <!-- ////////////////////////////////////////////////////// -->

            <div class="navBarContainer">

            </div>

        <!-- INCOMING POSTS CONTAINER xxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <!-- ////////////////////////////////////////////////////// -->

            <div class="adminIncomingPostsContainer">







                <!-- FILTER BUTTONS CONTAINER --------------------- -->
                <!-- ---------------------------------------------- -->

                    <div class="adminIncomingPostsFilterContainer">

                        <div class="adminIncomingPostsFilterResizer">




                            <!-- FILTER BUTTON FOR ALL POSTS ------ -->
                            <!-- ---------------------------------- -->

                                <div class="adminAllPostsFilterButtonContainer">

                                    <div class="adminAllPostsFilterButtonActual">

                                        all

                                    </div>

                                </div>




                            <!-- FILTER BUTTON FOR 3 STAR POSTS --- -->
                            <!-- ---------------------------------- -->

                                <div class="admin3StarsPostsFilterButtonContainer">

                                    <div class="admin3StarsPostsFilterButtonActual">

                                        average

                                    </div>

                                </div>




                            <!-- FILTER BUTTON FOR 5 STAR POSTS --- -->
                            <!-- ---------------------------------- -->

                                <div class="admin5StarsPostsFilterButtonContainer">

                                    <div class="admin5StarsPostsFilterButtonActual">

                                        high

                                    </div>

                                </div>




                        </div>

                    </div>







                <!-- OTHER SWITCHES BUTTONS CONTAINER ------------- -->
                <!-- ---------------------------------------------- -->

                    <div class="adminIncomingPostsOtherSwitchesContainer">

                        <div class="adminIncomingPostsOtherSwitchesResizer">




                            <!-- SWITCH BUTTON FOR COMMENTS POSTS - -->
                            <!-- ---------------------------------- -->

                                <div class="adminAllPostsCommentsSwitchButtonContainer">

                                    <!-- SWITCH ON OFF COMMENTS BUTTON ICON -->
                                    <!-- -------------------------- -->

                                        <div class="adminAllPostsCommentsSwitchButtonIconContainer">

                                        </div>

                                    <!-- SWITCH ON OFF COMMENTS CLICKERS CONTAINER -->
                                    <!-- -------------------------- -->

                                        <div class="adminAllPostsCommentsSwitchButtonClickersContainer">

                                            <div class="adminAllPostsCommentsSwitchButtonClickersOn">

                                            </div>

                                            <div class="adminAllPostsCommentsSwitchButtonClickersOff">

                                            </div>

                                        </div>

                                </div>







                            <!-- SWITCH BUTTON FOR LOAD MONNETS POSTS -->
                            <!-- ---------------------------------- -->

                                <div class="adminAllPostsLoadMorePostsButtonContainer">

                                    load more

                                </div>







                            <!-- SWITCH BUTTON FOR LOAD MONNETS POSTS -->
                            <!-- ---------------------------------- -->

                                <div class="counterBlock">

                                    0

                                </div>




                        </div>

                    </div>

                    




















                

                <!-- INCOMING POSTS SET HERE ---------------------- -->
                <!-- ---------------------------------------------- -->

                    <div class="adminIncomingPostsSetterContainer">

                        <div class="adminIncomingPostsSetterFirstSetContainer">

                            
                            <!-- POST CONTAINER GENERAL ----------- -->
                            <!-- ---------------------------------- -->

                                <%postList.forEach(post => {%>


                                    <div class="postCollectorContainer">

                                        <!-- COLLECT ID ----------- -->
                                        <!-- ---------------------- -->

                                            <div class="postIdCollector"><%=post._id%></div>

                                        <!-- COLLECT IMAGE -------- -->
                                        <!-- ---------------------- -->

                                            <div class="postImageCollector"><%=post.image%></div>

                                        <!-- COLLECT AREA --------- -->
                                        <!-- ---------------------- -->

                                            <div class="postAreaCollector"><%=post.area%></div>

                                        <!-- COLLECT RATING ------- -->
                                        <!-- ---------------------- -->

                                            <div class="postRatingCollector"><%=post.rating%></div>

                                        <!-- COLLECT CALORIE ------ -->
                                        <!-- ---------------------- -->

                                            <div class="postCalorieCollector"><%=post.calorie%></div>

                                        <!-- COLLECT COMMENTS ----- -->
                                        <!-- ---------------------- -->

                                            <div class="postCommentsCollector"><%=post.comments%></div>

                                        <!-- COLLECT ADMIN COMMENTS -->
                                        <!-- ---------------------- -->

                                            <div class="postAdminCommentsCollector"><%=post.adminComments%></div>

                                    </div>

                                
                                <%})%>




                        </div>

                    </div>

            </div>

        <!-- MANAGE POST OPEN PANEL xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <!-- ////////////////////////////////////////////////////// -->

            <div class="managePostContainer">

                <div class="managePostContentBlockResizer">


                    <!-- BACK BUTTON CONTAINER -------------------- -->
                    <!-- ------------------------------------------ -->

                        <div class="managePostContentBlockBackButtonContainer">

                            <div class="managePostContentBlockBackButton">

                                <div class="managePostContentBlockBackButtonIconContainer">

                                    <div class="managePostContentBlockBackButtonIconLineOne">

                                    </div>

                                    <div class="managePostContentBlockBackButtonIconLineTwo">

                                    </div>

                                    <div class="managePostContentBlockBackButtonIconLineThree">

                                    </div>

                                </div>

                            </div>

                        </div>


                    <!-- MANAGE POST CONTENT CONTAINER ------------ -->
                    <!-- ------------------------------------------ -->

                        <div class="managePostContentContainer">

                            <!-- MANAGE POST ID POSTER AND HEADLINE -->
                            <!-- ////////////////////////////////// -->

                                <div class="managePostContentIDPosterHeadlineContainer">

                                    POST BY: NAME OF ORIGINAL POSTER FROM DB

                                </div>

                            <!-- MANAGE POST RATINGS HOLDER /////// -->
                            <!-- ////////////////////////////////// -->

                                <div class="managePostContentRatingsContainer">

                                    <div class="managePostContentRatingsStarBlockOne">

                                        <div class="managePostContentRatingsStarActualOne">

                                        </div>

                                    </div>

                                    <div class="managePostContentRatingsStarBlockTwo">

                                        <div class="managePostContentRatingsStarActualTwo">

                                        </div>

                                    </div>

                                    <div class="managePostContentRatingsStarBlockThree">

                                        <div class="managePostContentRatingsStarActualThree">

                                        </div>

                                    </div>

                                    <div class="managePostContentRatingsStarBlockFour">

                                        <div class="managePostContentRatingsStarActualFour">

                                        </div>

                                    </div>

                                    <div class="managePostContentRatingsStarBlockFive">

                                        <div class="managePostContentRatingsStarActualFive">

                                        </div>

                                    </div>

                                </div>

                            <!-- MANAGE POST IMAGE TAKEN HOLDER /// -->
                            <!-- ////////////////////////////////// -->

                                <div class="managePostContentImageContainer">

                                </div>

                            <!-- MANAGE POST RESTURUANT HOLDER //// -->
                            <!-- ////////////////////////////////// -->

                                <div class="managePostContentResturauntNameContainer">

                                    the terrace nc1

                                </div>

                            <!-- MANAGE POST TIME STAMP HOLDER //// -->
                            <!-- ////////////////////////////////// -->

                                <div class="managePostContentTimeStampContainer">

                                    <div class="postUserPostIndicatorTag">posted at: </div>

                                    <div class="postUserTimeHeaderPostTag">13h00</div>

                                    <div class="postUserTimeDateSpacerPostTag">|</div>

                                    <div class="postUserDateHeaderPostTag">12 Jul 2025</div>

                                </div>

                            <!-- MANAGE POST USER COMMENT HOLDER // -->
                            <!-- ////////////////////////////////// -->

                                <div class="managePostContentUserCommentContainer">

                                    There once was a man who had ate a car and in his misadventure he consumed some oil
                                    for they had known his fate when he first devoured the mans dog. We all figured that
                                    he had involved himself in this situation by fault.

                                </div>









                            <!-- SHOW ADMINS RESPONSE IF ONE EXISTS -->
                            <!-- ////////////////////////////////// -->


                                    <div class="managePostContentAdminResponsePostedContainer">

                                        <div class="managePostContentAdminResponsePostedResizer">




                                            <!-- RESPONSE TAG ACTUAL -->
                                            <!-- /////////////////// -->

                                                <div class="managePostContentAdminResponsePostedActualResponseContainer">

                                                    <div class="managePostContentAdminResponsePostedAdminNameContainer">

                                                        <div class="postAdminNameHeaderResponseTag">response by:</div> 
                                                        <div class="postAdminNameHeaderContainer">NEOM</div>

                                                    </div>

                                                    <div class="managePostContentAdminResponsePostedTimeStampContainer">

                                                        <div class="postTimeHeaderResponseTag">13h00</div>

                                                        <div class="postTimeDateSpacerResponseTag">|</div>

                                                        <div class="postDateHeaderResponseTag">12 Jul 2025</div>

                                                    </div>

                                                    <div class="managePostContentAdminResponsePostedAdminCommentContainer">

                                                        our post has been extended here and this is something that we can do when
                                                        we put our heads together for the rest of the human species to survive for 
                                                        the days ahead and so forth.

                                                    </div>

                                                </div>

                                            <!-- RESPONSE TAG ACTUAL -->
                                            <!-- /////////////////// -->





                                        </div>

                                    </div>


                            <!-- SHOW ADMINS RESPONSE IF ONE EXISTS -->
                            <!-- ////////////////////////////////// -->








                            <!-- MANAGE POST ADMIN COMMENT SECTION  -->
                            <!-- ////////////////////////////////// -->

                                <div class="managePostContentAdminCommentContainer">

                                    <div class="managePostContentAdminCommentResizer">





                                        <form>





                                            <!-- ADMIN COMMENT INPUT SECTION -->
                                            <!-- ////////////////// -->

                                                <div class="managePostContentAdminCommentInputContainer">

                                                    <textarea
                                                    
                                                        name="adminComment"
                                                        class="managePostContentAdminCommentInputActual"
                                                        maxlength="150"
                                                        placeholder="create reply..."
                                                        autocomplete="off"

                                                    ></textarea>

                                                </div>

                                            <!-- ADMIN COMMENT SUBMIT BUTTON SECTION -->
                                            <!-- ////////////////// -->

                                                <div class="managePostContentAdminCommentSubmitButtonContainer">

                                                    <button class="managePostContentAdminCommentSubmitButtonActual">

                                                        post reply

                                                    </button>

                                                </div>





                                        </form>




                                    </div>

                                </div>

                        </div>


                </div>

            </div>

    </div>
    
</body>

</html>